#AddictNotePage {
  .wrap {
    padding-top: 80px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > p {
      text-align: center;
      font-size: 24px;
      line-height: 34px;
    }

    > img {
      margin: 0 auto;
      width: 30%;
    }
  }

  > div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
  }
}

#NoteCard {
  width: calc(100% / 3); aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #f9f9f9;

  &:last-child {
    margin-right: auto;
  }

  > img {
    width: 100%;
  }

  > div {
    padding: 40px 10px;
    gap: 8px;
    display: flex;
    flex-direction: column;

    > p {
      padding: 0 10px;
      font-size: 19px;
      display: flex;

      > span {
        margin-right: auto;
      }

      &:nth-child(2) {
        color: #999;
        font-size: 15px;
      }
    }
  }
}

#NoteModal {
  z-index: 1;
  position: fixed;
  left: 0; top: 70px;
  width: 100%; height: calc(100% - 30px - 40px);
  backdrop-filter: blur(10px);
  gap: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;

  > button {
    position: absolute;
    right: 40px; top: 40px;
    width: 24px; aspect-ratio: 1;
    background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22black%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20d%3D%22M16%208A8%208%200%201%201%200%208a8%208%200%200%20116%200M5.354%204.646a.5.5%200%201%200-.708.708L7.293%208l-2.647%202.646a.5.5%200%200%200.708.708L8%208.707l2.646%202.647a.5.5%200%200%200.708-.708L8.707%208l2.647-2.646a.5.5%200%200%200-.708-.708L8%207.293z%22%2F%3E%3C%2Fsvg%3E') center / cover no-repeat;
  }

  > section {
    width: 100%; height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;

    > div {
      width: 100%; height: 100%;
      background-position: 'center';
      background-size: 'cover';
      background-repeat: 'no-repeat';
    }
  }

  .left {
    padding: 40px;
    gap: 16px;
    display: flex;
    flex-direction: column;

    > h1 {
      font-size: 32px;
      font-weight: 400;
    }

    > p {
      margin-bottom: auto;
    }
  }

  .right {
    border-left: 1px solid #eee;
    overflow-y: scroll;

    > div {
      width: 100%;
    }
  }

  .wrap {
    column-count: 4;
    column-fill: auto;
    width: 100%; height: 240px;
    line-height: 24px;
  }
}
