@charset "utf-8";
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.5s;
}
:root {
 --Titlebar-background-color : #F0F1F3;
 --Searchbar-background-color : #EFF1F3;
 --Taskbar-background-color : #e9e9e9;
 --box-shadow : rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
}
section
, div
, p
, span
, a
, ul
, button
, table{
    font-size: 16px;
    font-family: 'Pretendard Variable';
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}
a {
  color: inherit;
  text-decoration: none !important;
}
ul{
    list-style: none;
}
label,
input,
button,
textarea {
    font-size: 16px;
    font-size: inherit;
    border: none; outline: none;
    background-color: inherit;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.flex{
    display: flex;
}
.fcol{
    flex-direction: column;
}
.faic{
    display: flex;
    align-items: center;
}
.fjcc{
    display: flex;
    justify-content: center;
}
.fcent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.grid{
    display: grid;
}
.gcent{
    display: grid;
    place-items: center;
}
.margl {
    margin-left: auto;
}
.margr {
    margin-right: auto;
}
.pore{
    position: relative;
}
.posa_cent{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.shrink{
    transform: scale(0);
}