#Resume,
#Stack,
#Addict,
#PlayList,
#Pharagraph,
#Canvas,
#Slider,
#Reference {
  z-index: 999;
  position: absolute;
  left: 0; top: 0;
  width: 100vw; height: 100%;
}
#Game2048 {
  z-index: 999;
  position: absolute;
  right: 0; top: 0;
  width: 480px; height: 100%;
}
#TodoList {
  z-index: 999;
  position: absolute;
  right: 0; top: 0;
  width: 480px; height: fit-content;
}