#Desktop {
  flex-grow: 1;
  position: relative;
  width: 100vw; height: calc(100vh - 50px);
  background: url(../../public/img/background/background.jpg) center/30% no-repeat;
  background-color: #000;
  /* border: 1px solid red; */
  overflow: hidden;

  canvas {
    position: absolute;
    left: 0; top: 0;
    width: 100vw; height: 100vh;
    background-color: #fff;
  }
}