#Folder {
  z-index: 1;
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  transition: all 0.5s;

  .Container {
    width: 50vw; height: 60vh;
    display: grid;
    grid-template-columns: 200px 1fr;

    aside {
      padding-top: 10px;
      border-right: 1px solid #f2f2f2;
      
      .Favorites {
        padding: 10px 20px;
        font-size: 13px;
        border-bottom: 1px solid #f2f2f2;
        cursor: pointer;
      }
    }

    section {
      padding: 16px;
      background-color: #fff;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      align-items: start;
      align-content: flex-start;

      /* 아이콘 컨테이너 */
      .Icon {
        position: relative;
        width: 100px; aspect-ratio: 1;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.09);
        background-color: rgba(255, 255, 255, 0.09);
        display: grid;
        grid-template-rows: 7fr 3fr;
        cursor: pointer;

        /* 아이콘 영역 */
        .Upper {
          position: relative;
          height: 100%;
          text-align: center;

          /* 아이콘 모양 */
          .Inner {
            position: absolute;
            left: 50%; bottom: 8px;
            transform: translate(-50%);
            width: 46px; aspect-ratio: 1;
            color: #fff;
            font-size: 12px;
            line-height: 10px;
            border-radius: 6px;
            background-color: #000;
            display: grid;
            place-items: center; 
          }
        }

        /* 아이콘 제목 영역 */
        .Lower {
          padding: 4px;
          font-size: 13px;
          display: grid;
          place-items: center;
        }

        &:hover {
          border: 1px solid #000;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  #Folder .Container {
    width: 90vw;
  }
}