#Taskbar {
  z-index: 999;
  position: relative;
  padding: 4px;
  width: 100vw; height: 50px;
  background-color: var(--Taskbar-background-color);
  display: flex;
  /* display: none; */

  > button {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    padding: 6px;
    height: calc(100% - 8px); aspect-ratio: 1;
    // border: 1px solid #000;
    border-radius: 4px;
    gap: 2px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    cursor: default;

    > div {
      width: 100%; aspect-ratio: 1;

      &:nth-child(1) {background-color: #bb2525};
      &:nth-child(2) {background-color: #186f65};
      &:nth-child(3) {background-color: #387adf};
      &:nth-child(4) {background-color: #f4ce14};
    }

    &:hover {
      background-color: #fff;
    }
  }
}

#TimeContainer {
  margin-left: auto;
  padding: 0 10px;
  width: fit-content; height: 100%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;

  &:hover {
    background-color: #fff;
  }

  .Time, .Yeartoday {
    font-size: 13px;
    cursor: default;
  }
}