#PharagraphPostingPage,
#PharagraphEditingPage {
	padding: 80px 320px;
  display: flex;
  flex-direction: column;

  > form {
    width: 100%; height: fit-content;
		display: flex;
		flex-direction: column;

		input, textarea {
			font-size: 22px;
			line-height: 34px;
			font-family: inherit;

			&::placeholder {
				color: #bbb;
			}

			&:focus {
				padding-left: 20px;
				border: 1px solid #000;
			}

			&:not(:placeholder-shown) {
				padding-left: 20px;
			}
		}

		input {
			height: 80px;
		}

		textarea {
			padding-top: 20px;
			height: 300px;
			resize: none;
      white-space: pre-wrap;
		}

		.wrap_page {
			position: relative;
			display: flex;
			align-items: center;

			> input {
				flex: 1;
			}

			> button {
				position: absolute;
				right: 10px; top: 50%;
				transform: translate(0, -50%);
				width: 100px; height: calc(100% - 20px);
				border: 1px solid #000;

				&.onfocus { background-color: #fff; }
			}
		}

		.wrap_MBTI {
			margin-top: 10px;
			height: 80px;
			display: flex;

			span {
				position: relative;
				display: flex;

				button {
					height: 100%; aspect-ratio: 1;
					font-size: 22px;
					color: #bbb;
					border: 1px solid #bbb;
					display: grid;
					place-items: center;

					&:not(:nth-child(1)) {
						margin-left: -1px;
					}

					&.clicked {
						z-index: 1;
						color: #000;
						border: 2px solid #000;
					}
				}
			}

			span:not(:nth-child(1)) {
				margin-left: -1px;
			}
		}

		.wrap_button {
			margin-left: auto;
			padding: 1px;
			width: fit-content; height: 60px;
			background-color: #000;
			gap: 1px;
			display: flex;

			button {
				width: 100px; height: 100%;
				font-size: 24px;
        border: 1px solid #fff;
        background-color: #fff;

				&:hover {
					border: 1px solid #000;
				}
			}
		}
  }
}