#PharagraphLoginPage {
  padding-top: 100px;
  height: 100%;
  display: flex;
  // align-items: center;
  justify-content: center;

  form {
    gap: 8px;
    display: flex;
    flex-direction: column;

    > input, button {
      padding-left: 10px;
      width: 280px; height: 40px;
      min-height: 40px;
      border-radius: 4px;
      box-shadow: var(--box-shadow);
    }

    > input {
      display: flex;
      align-items: center;
      border: 1px solid #000;
    }

    > button {
      background-color: #fff;
    }
  }
}