#PharagraphListPage  {
  padding: 100px 320px;
  color: #f9f9f9;
  display: flex;
  flex-direction: column;

  > ul {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;

    > li {
      width: calc((100% - 40px) / 3);
      border-radius: 4px;

      &.noresult {
        padding: 20px;
      }

      .top {
        padding: 0 20px;
        height: 80px;
        background-color: #222;
        gap: 10px;
        display: flex;
        align-items: center;

        > img {
          border-radius: 50%;
        }

        > div {
          position: relative;
          width: 100%;
          gap: 4px;
          display: flex;
          flex-direction: column;

          > p {
            &.nickname {
              position: relative;
              display: flex;
              align-items: center;
            }

            &.MBTI {
              padding: 2px 4px;
              width: fit-content;
              color: #000;
              font-weight: 600;
              font-size: 12px;
              border-radius: 4px;
              background-color: #f9f9f9;
            }

            > button {
              margin-left: auto;
              width: 20px; aspect-ratio: 1;
              // background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22currentColor%22%20class%3D%22bi%20bi-three-dots%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20d%3D%22M3%209.5a1.5%201.5%200%201%201%200-3%201.5%201.5%200%200%201%200%203m5%200a1.5%201.5%200%201%201%200-3%201.5%201.5%200%200%201%200%203m5%200a1.5%201.5%200%201%201%200-3%201.5%201.5%200%200%201%200%203%22%2F%3E%3C%2Fsvg%3E') center / cover no-repeat;
              background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23ffffff%22%20class%3D%22bi%20bi-three-dots%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20d%3D%22M3%209.5a1.5%201.5%200%201%201%200-3%201.5%201.5%200%200%201%200%203m5%200a1.5%201.5%200%201%201%200-3%201.5%201.5%200%200%201%200%203m5%200a1.5%201.5%200%201%201%200-3%201.5%201.5%200%200%201%200%203%22%2F%3E%3C%2Fsvg%3E') center / cover no-repeat;
              cursor: pointer;
            }
          }

          .menu {
            position: absolute;
            right: 0; top: -120%;
            transform: translate();
            padding: 1px;
            gap: 1px;
            display: flex;
            // flex-direction: column;
            background-color: #000;

            a, button {
              padding: 10px;
              width: fit-content;
              color: #000;
              border: 1px solid #f9f9f9;
              background-color: #f9f9f9;
              cursor: pointer;

              &:hover {
                border: 1px solid #f9f9f9;
                border: 1px solid #000;
              }
            }
          }
        }
      }

      .mid {
        position: relative;
        aspect-ratio: 4 / 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // border: 1px solid #000;

        > span {
          position: absolute;
          left: 20px; top: 20px;
          gap: 4px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }

        p {
          text-align: center;
          white-space: pre-line;

          &.page {
            font-size: 14px;
          }

          &.book {
            font-size: 14px;
          }
          
          &.content {
            font-size: 18px;
            line-height: 26px;
            // font-weight: 600;
          }
        }
      }

      .bot {
        padding: 20px;
        height: 80px;
        background-color: #222;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  #PharagraphListPage {
    ul {
      li {
        width: calc((100% - 40px) / 2);
      }
    }
  }
}