#PharagraphListPage  {
  padding: 100px 320px;
  display: flex;
  flex-direction: column;

  > ul {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;

    > li {
      width: calc((100% - 40px) / 3);
      border-radius: 4px;

      &.noresult {
        padding: 20px;
      }

      .top {
        padding: 0 20px;
        height: 80px;
        background-color: #222;
        gap: 10px;
        display: flex;
        align-items: center;

        > img {
          border-radius: 50%;
        }

        > div {
          position: relative;
          width: 100%;
          gap: 4px;
          display: flex;
          flex-direction: column;

          > p {
            &.nickname {
              position: relative;
              display: flex;
              align-items: center;
            }

            &.MBTI {
              padding: 2px 4px;
              width: fit-content;
              color: #000;
              font-weight: 600;
              font-size: 12px;
              border-radius: 4px;
              background-color: #f9f9f9;
            }

            .dots {
              margin-left: auto;
              width: 20px; aspect-ratio: 1;
              color: #f9f9f9;
            }
          }

          .menu {
            position: absolute;
            right: 0; top: -120%;
            transform: translate();
            padding: 1px;
            gap: 1px;
            display: flex;
            // flex-direction: column;
            background-color: #000;

            a, button {
              padding: 10px;
              width: fit-content;
              color: #000;
              border: 1px solid #f9f9f9;
              background-color: #f9f9f9;

              &:hover {
                border: 1px solid #000;
              }
            }
          }
        }
      }

      .mid {
        position: relative;
        aspect-ratio: 4 / 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // border: 1px solid #000;

        > span {
          position: absolute;
          left: 0; top: 0;
          padding: 20px;
          width: 100%;
          gap: 4px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          overflow: hidden;

          p {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        p {
          &.music { font-size: 14px }
          &.page { font-size: 14px }
          &.book { font-size: 14px }
          &.content {
            font-size: 18px;
            line-height: 26px;
            // font-weight: 600;
          }
        }
      }

      .bot {
        position: relative;
        padding: 20px;
        height: 80px;
        background-color: #222;
        gap: 14px;
        display: flex;
        align-items: center;

        > a, button {
          color: #f9f9f9;
          font-size: 20px;
          display: flex;
          align-items: center;
        }

        > audio {
          margin-right: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  #PharagraphListPage {
    ul {
      li {
        width: calc((100% - 40px) / 2);
      }
    }
  }
}