#PharagraphLoginPage {
  padding-top: 100px;
  height: 100%;
  display: flex;
  // align-items: center;
  flex-direction: column;

  > h1.Title {
    justify-content: center;
  }

  > form {
    margin: 20px auto 0;
    gap: 12px;
    display: flex;
    flex-direction: column;

    > input, button {
      padding-left: 10px;
      width: 280px; height: 40px;
      min-height: 40px;
      border-radius: 2px;
    }

    > input {
      width: 280px;
      border: 1px solid #555;
      
      &:focus {
        border: 1px solid #f9f9f9;
      }

      &::placeholder {
        color: #bbb;
        font-size: 14px;
      }
    }

    > button {
      color: #000;
      background-color: #f9f9f9;
    }
  }
}