#PharagraphListPage  {
  padding: 100px 320px;
  display: flex;
  flex-direction: column;

  ul {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;

    li {
      padding: 20px;
      width: calc((100% - 40px) / 3);
      border: 1px solid #e9e9e9;
      border-radius: 4px;

      .top {
        gap: 16px;
        display: flex;
        flex-direction: column;

        div {
          gap: 10px;
          display: flex;
          align-items: center;

          > img {
            border-radius: 50%;
          }

          > span {
            gap: 4px;
            display: flex;
            flex-direction: column;

            > p {
              &.nickname {
                font-size: 18px;
              }
              &.mbti {
                font-size: 12px;
              }
            }  
          }
        }

      }

      .mid {
        aspect-ratio: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // border: 1px solid #000;

        p {
          text-align: center;
          white-space: pre-line;
          
          &.content {
            font-size: 18px;
            // font-weight: 600;
          }

          &.book {
            margin-top: 20px;
            margin-bottom: 4px;
          }
        }
      }

      .bot {
        padding: 20px;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  #PharagraphListPage {
    ul {
      li {
        width: calc((100% - 40px) / 2);
      }
    }
  }
}