#Counter {
  background-color: #fff;
  overflow-y: scroll;

  .Container {
    color: crimson;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > span, button {
      color: crimson;
      font-size: 60px;
    }
  }
}