#Reference {
  background-color: #000;

  .Container {
    color: #fff;
    display: grid;
    grid-template: "article aside";
    grid-template-columns: 1fr 320px;

    > aside {
      position: relative;
      grid-area: aside;
      padding-top: 70px;
      width: 100%; height: 100%;
      font-size: 18px;
      background-color: #000;
      display: flex;
      flex-direction: column;

      &:hover > :not(:hover) {
        opacity: 0.3;
      }

      a {
        color: #fff;
      }

      > a {
        padding: 10px;
        display: flex;
        flex-direction: column;
      }

      > nav {
        font-size: 14px;
        display: flex;
        flex-direction: column;

        a {
          padding: 10px 0 10px 40px;
        }

        &:hover > :not(:hover) {
          opacity: 0.3;
        }
      }
    }

    > article {
      position: relative;
      grid-area: article;
      width: 100% ; height: 100%;
      overflow: hidden;

      > div {
        position: absolute;
        left: 0; top: 0;
        width: 500%; height: 100%;
        background-color: #000;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        transition: all 0.5s;

        section {
          position: relative;
          padding: 60px 120px 100px 440px;
          display: flex;
          flex-direction: column;
          overflow-y: scroll;

          &:nth-child(3) {
            padding: 0 120px 100px 440px;
          }

          &::-webkit-scrollbar {
            width: 1px; height: 1px;
          }

          &:hover > :not(:hover) {
            opacity: 0.3;
          }

          > hr {
            margin: 60px 0 20px 0;
            visibility: hidden;
          }

          > div {
            position: relative;
            padding: 20px;
            background-color: #000;
            gap: 10px;
            display: flex;
            flex-direction: column;
            justify-content: end;

            &:not(:nth-child(1)) {
              margin-top: 40px;
            }

            > h1 {
              color: #666;
              font-size: 24px;
            }

            > p {
              margin: 0;

              &::before {
                content: ":\00a0\00a0";
              }

              s {
                color: #444;
              }
            }

            > a {
              position: absolute;
              right: 20px; top: 50%;
              transform: translate(0, -50%);
              padding: 8px 12px;
              color: #fff;
              font-size: 16px;
              font-weight: 100;
              border-radius: 4px;
              background-color: #246BEB;
            }
          }
        }
      }
    }
  }
}

#Reference #location-CSS {
  padding-top: 60px; margin: 0;
}
#Reference #library .filter_CSS:nth-child(2) {
  margin-top: 0;
}

@media screen and (max-width: 1280px) {
  #Reference {
    .Container {
      > article {
        > div {
          section {
            padding: 60px 120px 100px 100px;

            &:nth-child(3) {
              padding: 0 120px 100px 100px;
            }
          }
        }
      }
    }
  }
}