#TodoList {
  .Container {
    padding: 20px;
    background-color: #fff;
    gap: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .cont_date {
    padding: 0 4px 0 0;
    border-radius: 4px;
    gap: 6px;
    display: flex;
    align-items: center;

    &:hover {
      padding: 4px 10px;
      border: 1px solid #999;
    }
  }

  .wrap {
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }

  .date {
    font-size: 40px;
    font-weight: 600;
  }

  .day {
    font-size: 32px;
    font-weight: 100;
  }

  .month, .year {
    font-size: 14px;
    font-weight: 300;
  }

  h2 {
    color: #1e90ff;
    font-size: 32px;
    gap: 10px;
    display: flex;

    span {
      font-size: 32px;
    }
  }
}

.date-picker {
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translate(-50%);
  padding: 10px;
  width: calc(100% - 40px);
  height: 60px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.todo-list {
  margin-bottom: auto;
  gap: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;

  li {
    padding: 24px 10px;
    height: 40px;
    font-size: 15px;
    border: 1px solid #eee;
    border-radius: 4px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      border: 1px solid #999;
    }
  }
}

.todo-checkbox {
  height: 18px;
  aspect-ratio: 1;
  border: 2px solid #1e90ff;
  border-radius: 50%;
}

.todo-text {
  flex-grow: 1;
}

.completed .todo-text {
  text-decoration: line-through;
}

.new-todo-form {
  display: flex;
  justify-content: space-between;

  input {
    flex: 1;
    padding: 12px;
    border: 1px solid #eee;
    border-radius: 5px;
  }

  button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 5px;
  }
}
