@charset "UTF-8";
#Folder {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  transition: all 0.5s;
}
#Folder .Container {
  width: 50vw;
  height: 60vh;
  display: grid;
  grid-template-columns: 200px 1fr;
}
#Folder .Container aside {
  padding-top: 10px;
  border-right: 1px solid #f2f2f2;
}
#Folder .Container aside .Favorites {
  padding: 10px 20px;
  font-size: 13px;
  border-bottom: 1px solid #f2f2f2;
  cursor: pointer;
}
#Folder .Container section {
  padding: 16px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: start;
  align-content: flex-start;
  /* 아이콘 컨테이너 */
}
#Folder .Container section .Icon {
  position: relative;
  width: 100px;
  aspect-ratio: 1;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.09);
  background-color: rgba(255, 255, 255, 0.09);
  display: grid;
  grid-template-rows: 7fr 3fr;
  cursor: pointer;
  /* 아이콘 영역 */
  /* 아이콘 제목 영역 */
}
#Folder .Container section .Icon .Upper {
  position: relative;
  height: 100%;
  text-align: center;
  /* 아이콘 모양 */
}
#Folder .Container section .Icon .Upper .Inner {
  position: absolute;
  left: 50%;
  bottom: 8px;
  transform: translate(-50%);
  width: 46px;
  aspect-ratio: 1;
  color: #fff;
  font-size: 12px;
  line-height: 10px;
  border-radius: 6px;
  background-color: #000;
  display: grid;
  place-items: center;
}
#Folder .Container section .Icon .Lower {
  padding: 4px;
  font-size: 13px;
  display: grid;
  place-items: center;
}
#Folder .Container section .Icon:hover {
  border: 1px solid #000;
}

@media screen and (max-width: 1280px) {
  #Folder .Container {
    width: 90vw;
  }
}
#Iconset {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%);
  width: fit-content;
  gap: 8px;
  display: flex;
}
#Iconset .Icon {
  position: relative;
  width: 100px;
  aspect-ratio: 1;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.09);
  background-color: rgba(255, 255, 255, 0.09);
  background-color: rgba(0, 0, 0, 0.09);
  backdrop-filter: blur(10px);
  display: grid;
  grid-template-rows: 7fr 3fr;
  cursor: pointer;
}
#Iconset .Icon:hover {
  border: 1px solid #ddd;
}
#Iconset .Icon:hover .Person.chest {
  width: 36px;
  height: 18px;
  border-radius: 100% 100% 50% 50%;
}
#Iconset .Icon:hover .Folder.blank {
  background-color: rgba(255, 255, 255, 0.4);
}
#Iconset .Icon:hover .Upper > .Piece {
  left: calc(50% + 6px);
  top: 5px;
  border: 1px solid #eee;
  background-color: transparent;
}
#Iconset .Icon:hover .Upper > .Contact.circle-upper {
  z-index: 1;
  background-color: transparent;
}
#Iconset .Icon:hover .Upper > .Contact.circle-lower {
  z-index: 0;
  background-color: #eee;
}
#Iconset .Icon .Upper {
  position: relative;
  height: 100%;
  text-align: center;
}
#Iconset .Icon .Upper .Person {
  position: absolute;
  transform: translate(-50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #eee;
  transition: all 0.3s ease;
}
#Iconset .Icon .Upper .Person.face {
  left: 50%;
  bottom: 34px;
}
#Iconset .Icon .Upper .Person.chest {
  left: 50%;
  bottom: 12px;
}
#Iconset .Icon .Upper .Folder {
  position: absolute;
  left: 50%;
  bottom: 12px;
  transform: translate(-50%);
  width: 54px;
  height: 36px;
  border-radius: 0 4px 4px 4px;
  background-color: #eee;
}
#Iconset .Icon .Upper .Folder::before {
  position: absolute;
  left: 0;
  top: -6px;
  content: "";
  width: 40%;
  height: 6px;
  background-color: #ddd;
  border-radius: 4px 4px 0 0;
}
#Iconset .Icon .Upper .Content {
  position: absolute;
  left: 50%;
  bottom: 17px;
  transform: translate(-50%);
  width: 44px;
  height: 26px;
  border-radius: 4px;
  background-color: #eee;
}
#Iconset .Icon .Upper .Graph {
  position: absolute;
  left: 50%;
  bottom: 8px;
  transform: translate(-50%);
  width: 50%;
  aspect-ratio: 1;
  border-radius: 50% 0 50% 50%;
}
#Iconset .Icon .Upper .Piece {
  position: absolute;
  left: calc(50% - 0.8px);
  top: 11.6px;
  width: 25px;
  height: 25px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: #fff;
  border-radius: 0 100% 0 0;
  transition: all 0.2s;
}
#Iconset .Icon .Upper .Contact {
  position: absolute;
  width: 36px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid #fff;
  backdrop-filter: blur(10px);
}
#Iconset .Icon .Upper .Contact.circle-upper {
  left: 50%;
  bottom: 24px;
  transform: translate(-75%);
  z-index: 0;
  background-color: #eee;
}
#Iconset .Icon .Upper .Contact.circle-lower {
  left: 50%;
  bottom: 4px;
  transform: translate(-25%);
  z-index: 1;
  background-color: transparent;
}
#Iconset .Icon .Lower {
  padding: 4px;
  color: #fff;
  font-size: 13px;
  display: grid;
  place-items: center;
}

#Searchbar {
  z-index: 999;
  position: sticky;
  top: 30px;
  padding: 4px;
  width: 100%;
  height: 40px;
  background-color: #fff;
  display: flex;
  gap: 8px;
  align-items: center;
}
#Searchbar .URLbar {
  flex-grow: 1;
  height: 30px;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  background-color: var(--Searchbar-background-color);
  cursor: text;
}
#Searchbar > button {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}
#Searchbar > button.Left {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0'/%3E%3C/svg%3E") center/40% no-repeat;
}
#Searchbar > button.Right {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708'/%3E%3C/svg%3E") center/40% no-repeat;
}
#Searchbar > button:hover {
  background-color: #eee;
}

#Taskbar {
  z-index: 999;
  position: relative;
  padding: 4px;
  width: 100vw;
  height: 50px;
  background-color: var(--Taskbar-background-color);
  display: flex;
  /* display: none; */
}
#Taskbar > button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 6px;
  height: calc(100% - 8px);
  aspect-ratio: 1;
  border-radius: 4px;
  gap: 2px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  cursor: default;
}
#Taskbar > button > div {
  width: 100%;
  aspect-ratio: 1;
}
#Taskbar > button > div:nth-child(1) {
  background-color: #bb2525;
}
#Taskbar > button > div:nth-child(2) {
  background-color: #186f65;
}
#Taskbar > button > div:nth-child(3) {
  background-color: #387adf;
}
#Taskbar > button > div:nth-child(4) {
  background-color: #f4ce14;
}
#Taskbar > button:hover {
  background-color: #fff;
}

#TimeContainer {
  margin-left: auto;
  padding: 0 10px;
  width: fit-content;
  height: 100%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
#TimeContainer:hover {
  background-color: #fff;
}
#TimeContainer .Time, #TimeContainer .Yeartoday {
  font-size: 13px;
  cursor: default;
}

.Titlebar {
  z-index: 999;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 30px;
  background-color: var(--Titlebar-background-color);
  display: flex;
  align-items: center;
  justify-content: end;
  box-sizing: border-box;
}
.Titlebar .Restore {
  height: 100%;
  aspect-ratio: 1.2/1;
  display: grid;
  place-items: center;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22currentColor%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M15%202a1%201%200%200%200-1-1H2a1%201%200%200%200-1%201v12a1%201%200%200%200%201%201h12a1%201%200%200%200%201-1zM0%202a2%202%200%200%201%202-2h12a2%202%200%200%201%202%202v12a2%202%200%200%201-2%202H2a2%202%200%200%201-2-2zm10.096%203.146a.5.5%200%201%201%20.707.708L6.707%209.95h2.768a.5.5%200%201%201%200%201H5.5a.5.5%200%200%201-.5-.5V6.475a.5.5%200%201%201%201%200v2.768z%22%2F%3E%3C%2Fsvg%3E") center/40% no-repeat;
}
.Titlebar .Restore:hover {
  background-color: #ccc;
}
.Titlebar .Minimize {
  height: 100%;
  aspect-ratio: 1.2/1;
  display: grid;
  place-items: center;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22currentColor%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20d%3D%22M1.5%201a.5.5%200%200%200-.5.5v4a.5.5%200%200%201-1%200v-4A1.5%201.5%200%200%201%201.5%200h4a.5.5%200%200%201%200%201zM10%20.5a.5.5%200%200%201%20.5-.5h4A1.5%201.5%200%200%201%2016%201.5v4a.5.5%200%200%201-1%200v-4a.5.5%200%200%200-.5-.5h-4a.5.5%200%200%201-.5-.5M.5%2010a.5.5%200%200%201%20.5.5v4a.5.5%200%200%200%20.5.5h4a.5.5%200%200%201%200%201h-4A1.5%201.5%200%200%201%200%2014.5v-4a.5.5%200%200%201%20.5-.5m15%200a.5.5%200%200%201%20.5.5v4a1.5%201.5%200%200%201-1.5%201.5h-4a.5.5%200%200%201%200-1h4a.5.5%200%200%200%20.5-.5v-4a.5.5%200%200%201%20.5-.5%22%2F%3E%3C%2Fsvg%3E") center/40% no-repeat;
}
.Titlebar .Minimize:hover {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22currentColor%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20d%3D%22M5.5%200a.5.5%200%200%201%20.5.5v4A1.5%201.5%200%200%201%204.5%206h-4a.5.5%200%200%201%200-1h4a.5.5%200%200%200%20.5-.5v-4a.5.5%200%200%201%20.5-.5m5%200a.5.5%200%200%201%20.5.5v4a.5.5%200%200%200%20.5.5h4a.5.5%200%200%201%200%201h-4A1.5%201.5%200%200%201%2010%204.5v-4a.5.5%200%200%201%20.5-.5M0%2010.5a.5.5%200%200%201%20.5-.5h4A1.5%201.5%200%200%201%206%2011.5v4a.5.5%200%200%201-1%200v-4a.5.5%200%200%200-.5-.5h-4a.5.5%200%200%201-.5-.5m10%201a1.5%201.5%200%200%201%201.5-1.5h4a.5.5%200%200%201%200%201h-4a.5.5%200%200%200-.5.5v4a.5.5%200%200%201-1%200z%22%2F%3E%3C%2Fsvg%3E") center/40% no-repeat;
  background-color: #ccc;
  transition: all 0s;
}
.Titlebar .Close {
  height: 100%;
  aspect-ratio: 1.2/1;
  display: grid;
  place-items: center;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22currentColor%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20d%3D%22M2.146%202.854a.5.5%200%200%201%20.708-.708L8%207.293l5.146-5.147a.5.5%200%200%201%20.708.708L8.707%208l5.147%205.146a.5.5%200%200%201-.708.708L8%208.707l-5.146%205.147a.5.5%200%200%201-.708-.708L7.293%208z%22%2F%3E%3C%2Fsvg%3E") center/40% no-repeat;
}
.Titlebar .Close:hover {
  background-color: #F05A5A;
  transition: all 0s;
}

.Tab {
  z-index: 999;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 0 8px;
  width: 220px;
  height: 30px;
  font-size: 13px;
  border-right: 1px solid #ddd;
  background-color: #fff;
  border-radius: 4px 4px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Tab > button {
  width: 16px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22currentColor%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20d%3D%22M2.146%202.854a.5.5%200%200%201%20.708-.708L8%207.293l5.146-5.147a.5.5%200%200%201%20.708.708L8.707%208l5.147%205.146a.5.5%200%200%201-.708.708L8%208.707l-5.146%205.147a.5.5%200%200%201-.708-.708L7.293%208z%22%2F%3E%3C%2Fsvg%3E") center/70% no-repeat;
  background-color: #eee;
  visibility: hidden;
  opacity: 0;
}
.Tab > button:hover {
  background-color: #ddd;
}
.Tab:hover button {
  visibility: visible;
  opacity: 1;
  transition: all 0s;
}

#Canvas canvas {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

#Contact {
  position: absolute;
  left: 50%;
  top: -40%;
  transform: translate(-50%) rotate(-90deg);
  padding: 20px;
  width: 400px;
  aspect-ratio: 9/5;
  border-radius: 4px;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
}
#Contact > canvas {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}
#Contact > span {
  color: #fff;
  text-align: left;
}
#Contact > span:nth-child(2) {
  font-size: 50px;
  line-height: 35px;
  font-weight: 600;
  font-family: "DS-DIGI.TTF";
}
#Contact > span:nth-child(3) {
  padding-top: 4px;
  font-size: 60px;
  font-family: "Signatra";
}
#Contact > p {
  margin-top: auto;
  color: #fff;
  font-size: 14px;
}
#Contact > button {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #fff;
}
#Contact > button:hover {
  color: #000;
  transition: 0s;
}

#Counter {
  background-color: #fff;
  overflow-y: scroll;
}
#Counter .Container {
  color: crimson;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#Counter .Container > span, #Counter .Container button {
  color: crimson;
  font-size: 60px;
}

#Game2048 .Container {
  padding: 20px;
  font-size: 28px;
  background-color: #00224D;
  gap: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#Game2048 .Container > p {
  color: #fff;
  font-size: 28px;
}
#Game2048 .Container > table {
  border-collapse: collapse;
  user-select: none;
  background-color: #00224D;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
#Game2048 .Container > table > tr {
  gap: 10px;
  display: flex;
  background-color: #00224D;
}
#Game2048 .Container > table > tr > td {
  flex: 1;
  aspect-ratio: 1;
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  border-radius: 4px;
  background-color: #fff;
  display: grid;
  place-items: center;
}
#Game2048 .Container .wrap {
  color: #fff;
}
#Game2048 .Container .newGame {
  margin: 0 auto;
  width: 100%;
  height: 44px;
  color: #000;
  font-size: 17px;
  border-radius: 4px;
  background-color: #fff;
}
#Game2048 .Container .newGame:hover {
  background-color: #ddd;
}
#Game2048 .Container .color-2 {
  background-color: #c8b52a;
}
#Game2048 .Container .color-4 {
  background-color: #8cd700;
}
#Game2048 .Container .color-8 {
  background-color: #09ad06;
}
#Game2048 .Container .color-16 {
  background-color: #0c7216;
}
#Game2048 .Container .color-32 {
  background-color: #9DB2BF;
}
#Game2048 .Container .color-64 {
  background-color: #417e96;
}
#Game2048 .Container .color-128 {
  background-color: #0d5f6a;
}
#Game2048 .Container .color-256 {
  background-color: #1A4D2E;
}
#Game2048 .Container .color-512 {
  background-color: #4477CE;
}
#Game2048 .Container .color-1024 {
  background-color: #2C4E80;
}
#Game2048 .Container .color-2048 {
  background-color: #153448;
}

#Reference {
  background-color: #000;
}
#Reference .Container {
  color: #fff;
  display: grid;
  grid-template: "article aside";
  grid-template-columns: 1fr 320px;
}
#Reference .Container > aside {
  position: relative;
  grid-area: aside;
  padding-top: 70px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  background-color: #000;
  display: flex;
  flex-direction: column;
}
#Reference .Container > aside:hover > :not(:hover) {
  opacity: 0.3;
}
#Reference .Container > aside a {
  color: #fff;
}
#Reference .Container > aside > a {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
#Reference .Container > aside > nav {
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
#Reference .Container > aside > nav a {
  padding: 10px 0 10px 40px;
}
#Reference .Container > aside > nav:hover > :not(:hover) {
  opacity: 0.3;
}
#Reference .Container > article {
  position: relative;
  grid-area: article;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#Reference .Container > article > div {
  position: absolute;
  left: 0;
  top: 0;
  width: 500%;
  height: 100%;
  background-color: #000;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  transition: all 0.5s;
}
#Reference .Container > article > div section {
  position: relative;
  padding: 60px 120px 100px 440px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
#Reference .Container > article > div section:nth-child(3) {
  padding: 0 120px 100px 440px;
}
#Reference .Container > article > div section::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
#Reference .Container > article > div section:hover > :not(:hover) {
  opacity: 0.3;
}
#Reference .Container > article > div section > hr {
  margin: 60px 0 20px 0;
  visibility: hidden;
}
#Reference .Container > article > div section > div {
  position: relative;
  padding: 20px;
  background-color: #000;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
#Reference .Container > article > div section > div:not(:nth-child(1)) {
  margin-top: 40px;
}
#Reference .Container > article > div section > div > h1 {
  color: #666;
  font-size: 24px;
}
#Reference .Container > article > div section > div > p {
  margin: 0;
}
#Reference .Container > article > div section > div > p::before {
  content: ":  ";
}
#Reference .Container > article > div section > div > p s {
  color: #444;
}
#Reference .Container > article > div section > div > a {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
  padding: 8px 12px;
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  border-radius: 4px;
  background-color: #246BEB;
}

#Reference #location-CSS {
  padding-top: 60px;
  margin: 0;
}

#Reference #library .filter_CSS:nth-child(2) {
  margin-top: 0;
}

@media screen and (max-width: 1280px) {
  #Reference .Container > article > div section {
    padding: 60px 120px 100px 100px;
  }
  #Reference .Container > article > div section:nth-child(3) {
    padding: 0 120px 100px 100px;
  }
}
#Slider > p {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 30px;
}
#Slider > canvas {
  background-color: #000;
}

#TodoList .Container {
  padding: 20px;
  background-color: #fff;
  gap: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#TodoList .cont_date {
  padding: 0 4px 0 0;
  border-radius: 4px;
  gap: 6px;
  display: flex;
  align-items: center;
}
#TodoList .cont_date:hover {
  padding: 4px 10px;
  border: 1px solid #999;
}
#TodoList .wrap {
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
#TodoList .date {
  font-size: 40px;
  font-weight: 600;
}
#TodoList .day {
  font-size: 32px;
  font-weight: 100;
}
#TodoList .month, #TodoList .year {
  font-size: 14px;
  font-weight: 300;
}
#TodoList h2 {
  color: #1e90ff;
  font-size: 32px;
  gap: 10px;
  display: flex;
}
#TodoList h2 span {
  font-size: 32px;
}

.date-picker {
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translate(-50%);
  padding: 10px;
  width: calc(100% - 40px);
  height: 60px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.todo-list {
  margin-bottom: auto;
  gap: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
}
.todo-list li {
  padding: 24px 10px;
  height: 40px;
  font-size: 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-list li:hover {
  border: 1px solid #999;
}

.todo-checkbox {
  height: 18px;
  aspect-ratio: 1;
  border: 2px solid #1e90ff;
  border-radius: 50%;
}

.todo-text {
  flex-grow: 1;
}

.completed .todo-text {
  text-decoration: line-through;
}

.new-todo-form {
  display: flex;
  justify-content: space-between;
}
.new-todo-form input {
  flex: 1;
  padding: 12px;
  border: 1px solid #eee;
  border-radius: 5px;
}
.new-todo-form button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 5px;
}

#Addict {
  background-color: #fff;
  /* border: 1px solid red; */
}
#Addict .Container {
  overflow-y: scroll;
}

#AddictAllProduct {
  width: 100%;
  height: fit-content;
  /* border: 1px solid red; */
  background-color: #fff;
  gap: 40px;
  display: flex;
  flex-direction: column;
  /* display: none; */
}
#AddictAllProduct > div:nth-child(1) {
  z-index: 1;
  position: sticky;
  top: 160px;
  text-align: center;
  background-color: #fff;
}
#AddictAllProduct > div:nth-child(1) button {
  margin: 0 4px;
  padding: 8px 16px;
  font-size: 15px;
  border-radius: 50px;
  background-color: #fff;
  border: 1px solid #000;
}
#AddictAllProduct > div:nth-child(1) button:hover {
  filter: invert(1);
}

#AddictAllProduct > div:nth-child(2),
#AddictBestProduct,
#AddictLiquidProduct,
#AddictSolidProduct,
#AddictGiftProduct {
  width: 100%;
  /* border: 1px solid #000; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#Addict footer {
  padding: 0 100px;
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#Addict footer > div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  display: grid;
  place-items: center;
}
#Addict footer > div > div {
  gap: 4px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
#Addict footer > div > div > h3 {
  margin-bottom: 15px;
  text-align: left;
}
#Addict footer > div > div > p {
  text-align: left;
}

#Addict header {
  z-index: 1;
  position: sticky;
  top: 0;
  padding: 0 100px;
  width: 100%;
  height: 80px;
  border: 1px solid #fff;
  background-color: #fff;
  display: flex;
}
#Addict header a, #Addict header button {
  width: 90px;
  height: 100%;
  font-size: 15px;
  font-weight: 600;
  display: grid;
  place-items: center;
}
#Addict header > a:nth-child(1) {
  padding-bottom: 4px;
  width: fit-content;
  height: 100%;
  aspect-ratio: 2/1;
  font-size: 30px;
  font-weight: 400;
}
#Addict header > div {
  position: relative;
}

#AddictProduct {
  width: 33.3333333333%;
  display: flex;
  flex-direction: column;
  border: 1px solid #f5f5f5;
  background-color: #fff;
}
#AddictProduct:last-child {
  margin-right: auto;
}
#AddictProduct > img {
  width: 100%;
}
#AddictProduct > div {
  padding: 40px 10px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}
#AddictProduct > div > p {
  padding: 0 10px;
  font-size: 19px;
  display: flex;
}
#AddictProduct > div > p > span {
  margin-right: auto;
}
#AddictProduct > div > p:nth-child(2) {
  color: #999;
  font-size: 15px;
}

#AddictProductTypeFilters {
  z-index: 2;
  position: sticky;
  top: 80px;
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
#AddictProductTypeFilters button {
  padding: 0 20px;
  height: 100%;
  font-size: 18px;
  display: grid;
  place-items: center;
}
#AddictProductTypeFilters button.active {
  font-weight: 600;
}

#AddictShortCut {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#AddictShortCut > a {
  width: 100%;
  aspect-ratio: 1;
}
#AddictShortCut > a:nth-child(1) {
  background: url(../../../../public/img/browser/Addict/liquid.jpg) center/cover no-repeat;
}
#AddictShortCut > a:nth-child(1):hover {
  background: url(../../../../public/img/browser/Addict/liquid2.jpg) center/cover no-repeat;
}
#AddictShortCut > a:nth-child(2) {
  background: url(../../../../public/img/browser/Addict/solid.jpg) center/cover no-repeat;
}
#AddictShortCut > a:nth-child(2):hover {
  background: url(../../../../public/img/browser/Addict/solid2.jpg) center/cover no-repeat;
}

#AddictSlider {
  position: relative;
  width: 100%;
  height: 1000px;
  overflow: hidden;
}
#AddictSlider .slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 300%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#AddictSlider .slide {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#AddictSlider .slide img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
#AddictSlider .wrap_button {
  position: absolute;
  top: 50%;
  padding: 0 40px;
  transform: translate(0, -50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#AddictSlider .wrap_button button {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
}
#AddictSlider .wrap_button button.Left {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22currentColor%22%20class%3D%22bi%20bi-chevron-left%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M11.354%201.646a.5.5%200%200%201%200%20.708L5.707%208l5.647%205.646a.5.5%200%200%201-.708.708l-6-6a.5.5%200%200%201%200-.708l6-6a.5.5%200%200%201%20.708%200%22%2F%3E%3C%2Fsvg%3E") calc(50% - 1px)/cover no-repeat;
}
#AddictSlider .wrap_button button.Right {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22currentColor%22%20class%3D%22bi%20bi-chevron-right%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M4.646%201.646a.5.5%200%200%201%20.708%200l6%206a.5.5%200%200%201%200%20.708l-6%206a.5.5%200%200%201-.708-.708L10.293%208%204.646%202.354a.5.5%200%200%201%200-.708%22%2F%3E%3C%2Fsvg%3E") calc(50% + 2px)/cover no-repeat;
}

@media screen and (max-width: 1280px) {
  #Folder .Container {
    width: 90vw;
  }
}
#AddictAllPage {
  width: 100%;
  height: fit-content;
}

#AddictExplain {
  z-index: 999;
  position: absolute;
  left: 0;
  padding: 100px 480px;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.9);
  gap: 60px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
#AddictExplain > button {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 24px;
  aspect-ratio: 1;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22white%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20d%3D%22M16%208A8%208%200%201%201%200%208a8%208%200%200%20116%200M5.354%204.646a.5.5%200%201%200-.708.708L7.293%208l-2.647%202.646a.5.5%200%200%200.708.708L8%208.707l2.646%202.647a.5.5%200%200%200.708-.708L8.707%208l2.647-2.646a.5.5%200%200%200-.708-.708L8%207.293z%22%2F%3E%3C%2Fsvg%3E") center/contain no-repeat;
}
#AddictExplain > section {
  color: #fff;
  gap: 30px;
  display: flex;
  flex-direction: column;
}
#AddictExplain > section > h2 {
  position: relative;
  padding-left: 8px;
  border-left: 4px solid #fff;
}
#AddictExplain > section > p {
  padding-left: 8px;
  line-height: 30px;
}
#AddictExplain > section > ul {
  padding-left: 20px;
  list-style: disc;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
#AddictExplain > section > ul li {
  cursor: default;
}

@media screen and (max-width: 1280px) {
  #AddictExplain {
    padding: 100px 160px;
  }
}
#AddictHomePage {
  height: fit-content;
  display: flex;
  flex-direction: column;
}
#AddictHomePage > h2 {
  padding: 40px 0;
  font-size: 30px;
  text-align: center;
}
#AddictHomePage .wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#AddictHomePage .wrap > div {
  width: 100%;
  /* border: 1px solid #000; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#AddictHomePage .wrap > div > div {
  width: 100%;
}
#AddictHomePage > div:last-child {
  position: relative;
  width: 100%;
  height: fit-content;
  display: grid;
  place-items: center;
}
#AddictHomePage > div:last-child > img {
  width: 100%;
  height: 100%;
}
#AddictHomePage > div:last-child > p {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%);
  color: #fff;
  font-size: 40px;
}
#AddictHomePage > div:last-child > a {
  position: absolute;
  left: 50%;
  top: 28%;
  transform: translate(-50%);
  padding: 8px 20px;
  color: #fff;
  font-size: 18px;
  border: 1px solid #fff;
  border-radius: 50px;
  background-color: #000;
}
#AddictHomePage > div:last-child > a:hover {
  filter: invert(1);
}

#AddictNotePage .wrap {
  padding-top: 80px;
  gap: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#AddictNotePage .wrap > p {
  text-align: center;
  font-size: 24px;
  line-height: 34px;
}
#AddictNotePage .wrap > img {
  margin: 0 auto;
  width: 30%;
}
#AddictNotePage > div:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
}

#NoteCard {
  width: 33.3333333333%;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
}
#NoteCard:last-child {
  margin-right: auto;
}
#NoteCard > img {
  width: 100%;
}
#NoteCard > div {
  padding: 40px 10px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}
#NoteCard > div > p {
  padding: 0 10px;
  font-size: 19px;
  display: flex;
}
#NoteCard > div > p > span {
  margin-right: auto;
}
#NoteCard > div > p:nth-child(2) {
  color: #999;
  font-size: 15px;
}

#NoteModal {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 70px;
  width: 100%;
  height: calc(100% - 30px - 40px);
  backdrop-filter: blur(10px);
  gap: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
}
#NoteModal > button {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 24px;
  aspect-ratio: 1;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22black%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20d%3D%22M16%208A8%208%200%201%201%200%208a8%208%200%200%20116%200M5.354%204.646a.5.5%200%201%200-.708.708L7.293%208l-2.647%202.646a.5.5%200%200%200.708.708L8%208.707l2.646%202.647a.5.5%200%200%200.708-.708L8.707%208l2.647-2.646a.5.5%200%200%200-.708-.708L8%207.293z%22%2F%3E%3C%2Fsvg%3E") center/cover no-repeat;
}
#NoteModal > section {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
#NoteModal > section > div {
  width: 100%;
  height: 100%;
  background-position: "center";
  background-size: "cover";
  background-repeat: "no-repeat";
}
#NoteModal .left {
  padding: 40px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}
#NoteModal .left > h1 {
  font-size: 32px;
  font-weight: 400;
}
#NoteModal .left > p {
  margin-bottom: auto;
}
#NoteModal .right {
  border-left: 1px solid #eee;
  overflow-y: scroll;
}
#NoteModal .right > div {
  width: 100%;
}
#NoteModal .wrap {
  column-count: 4;
  column-fill: auto;
  width: 100%;
  height: 240px;
  line-height: 24px;
}

#AddictOfflinePage {
  display: flex;
  flex-direction: column;
}
#AddictOfflinePage > img {
  margin-bottom: 80px;
  width: 100%;
  height: 750px;
  /* border: 1px solid #000; */
}
#AddictOfflinePage .wrap {
  padding: 40px 140px;
  border-bottom: 1px solid #eee;
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
#AddictOfflinePage .wrap > h3 {
  grid-column: 1/7;
}
#AddictOfflinePage .wrap > div {
  font-size: 14px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}
#AddictOfflinePage .wrap > div span {
  font-weight: 600;
}

#Pharagraph .Container {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #000;
  overflow-x: hidden;
  overflow-y: scroll;
}
#Pharagraph .Container > article {
  width: 1280px;
}
#Pharagraph .Container input, #Pharagraph .Container textarea {
  color: #fff;
}
#Pharagraph .Container h1.Title {
  margin-bottom: 20px;
  color: #fff;
  font-size: 30px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1280px) {
  #Pharagraph #PharagraphPostingPage,
  #Pharagraph #PharagraphEditingPage,
  #Pharagraph #PharagraphListPage,
  #Pharagraph #PharagraphReplyPage,
  #Pharagraph #PharagraphMyPage {
    padding: 40px;
  }
}

#Pharagraph header, #Pharagraph nav {
  padding: 0 320px;
  width: 100vw;
  height: 110px;
  gap: 40px;
  display: flex;
}
#Pharagraph header > a, #Pharagraph header span, #Pharagraph header button, #Pharagraph nav > a, #Pharagraph nav span, #Pharagraph nav button {
  height: 100%;
  color: #fff;
  display: grid;
  place-items: center;
  cursor: pointer;
}
#Pharagraph header > a:nth-child(1), #Pharagraph nav > a:nth-child(1) {
  margin-right: auto;
  font-size: 60px;
  font-weight: 900;
}

@media screen and (max-width: 1280px) {
  #Pharagraph header {
    padding: 0 40px;
  }
}
#PharagraphBookSearch,
#PharagraphMusicSearch {
  z-index: 999;
  position: absolute;
  left: 0;
  top: 70px;
  padding: 100px 320px;
  width: 100vw;
  height: calc(100vh - 30px - 40px - 50px);
  backdrop-filter: blur(10px);
  gap: 20px;
  display: flex;
}
#PharagraphBookSearch > ul,
#PharagraphMusicSearch > ul {
  flex: 4;
  gap: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
}
#PharagraphBookSearch > ul::-webkit-scrollbar,
#PharagraphMusicSearch > ul::-webkit-scrollbar {
  color: #000;
  width: 0%;
  height: 2px;
}
#PharagraphBookSearch > ul::-webkit-scrollbar-thumb,
#PharagraphMusicSearch > ul::-webkit-scrollbar-thumb {
  background-color: #000;
}
#PharagraphBookSearch > ul.noresult,
#PharagraphMusicSearch > ul.noresult {
  padding: 0;
}
#PharagraphBookSearch > ul li,
#PharagraphMusicSearch > ul li {
  padding: 20px;
  gap: 20px;
  color: #fff;
  display: flex;
  border: 1px solid #ddd;
}
#PharagraphBookSearch > ul li:hover,
#PharagraphMusicSearch > ul li:hover {
  border: 1px solid #000;
  cursor: pointer;
}
#PharagraphBookSearch > ul li.noresult,
#PharagraphMusicSearch > ul li.noresult {
  font-size: 18px;
  border: 1px solid #000;
  border: 1px solid #fff;
  display: grid;
  place-items: center;
  cursor: default;
}
#PharagraphBookSearch > ul li > img, #PharagraphBookSearch > ul li div:nth-child(1),
#PharagraphMusicSearch > ul li > img,
#PharagraphMusicSearch > ul li div:nth-child(1) {
  width: 80px;
}
#PharagraphBookSearch > ul li > div,
#PharagraphMusicSearch > ul li > div {
  gap: 8px;
  display: flex;
  flex-direction: column;
}
#PharagraphBookSearch > ul li > div.title,
#PharagraphMusicSearch > ul li > div.title {
  font-size: 18px;
  font-weight: 600;
}
#PharagraphBookSearch > ul li > div.infos,
#PharagraphMusicSearch > ul li > div.infos {
  color: #999;
}
#PharagraphBookSearch > form,
#PharagraphMusicSearch > form {
  height: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  overflow: hidden;
}
#PharagraphBookSearch > form .wrap_input,
#PharagraphMusicSearch > form .wrap_input {
  padding: 1px;
  gap: 1px;
  display: flex;
  background-color: #000;
}
#PharagraphBookSearch > form .wrap_input > input,
#PharagraphMusicSearch > form .wrap_input > input {
  flex: 8;
  padding-left: 20px;
  height: 60px;
  color: #000;
  font-size: 22px;
  font-family: inherit;
  line-height: 34px;
  background-color: #fff;
}
#PharagraphBookSearch > form .wrap_input > input::placeholder,
#PharagraphMusicSearch > form .wrap_input > input::placeholder {
  color: #bbb;
}
#PharagraphBookSearch > form .wrap_input > input:focus,
#PharagraphMusicSearch > form .wrap_input > input:focus {
  border: 1px solid #fff;
}
#PharagraphBookSearch > form .wrap_input > input:not(:placeholder-shown),
#PharagraphMusicSearch > form .wrap_input > input:not(:placeholder-shown) {
  padding-left: 20px;
}
#PharagraphBookSearch > form .wrap_input > select,
#PharagraphMusicSearch > form .wrap_input > select {
  padding-left: 10px;
  width: 120px;
  color: #aaa;
  font-size: 22px;
  border: 1px solid #bbb;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
#PharagraphBookSearch > form .wrap_input > select:focus,
#PharagraphMusicSearch > form .wrap_input > select:focus {
  border: 1px solid #000;
}
#PharagraphBookSearch > form .wrap_input > select option,
#PharagraphMusicSearch > form .wrap_input > select option {
  font-size: 18px;
}
#PharagraphBookSearch > form .wrap_button,
#PharagraphMusicSearch > form .wrap_button {
  margin-left: auto;
  padding: 1px;
  width: fit-content;
  height: 60px;
  background-color: #000;
  gap: 1px;
  display: flex;
}
#PharagraphBookSearch > form .wrap_button button,
#PharagraphMusicSearch > form .wrap_button button {
  width: 100px;
  height: 100%;
  font-size: 24px;
  border: 1px solid #fff;
  background-color: #fff;
}
#PharagraphBookSearch > form .wrap_button button:hover,
#PharagraphMusicSearch > form .wrap_button button:hover {
  border: 1px solid #000;
}

@media screen and (max-width: 1280px) {
  #PharagraphBookSearch,
  #PharagraphMusicSearch {
    display: flex;
    flex-direction: column;
  }
  #PharagraphBookSearch > ul,
  #PharagraphMusicSearch > ul {
    flex: 1;
    height: fit-content;
  }
  #PharagraphBookSearch > ul.noresult,
  #PharagraphMusicSearch > ul.noresult {
    flex: none;
  }
  #PharagraphBookSearch > form,
  #PharagraphMusicSearch > form {
    height: fit-content;
  }
}
#PharagraphHomePage {
  padding: 40px 0 100px;
  gap: 100px;
  display: flex;
  flex-direction: column;
}
#PharagraphHomePage #banner {
  height: 500px;
  border: 1px solid red;
}
#PharagraphHomePage #slider {
  height: 400px;
  border: 1px solid red;
}

#PharagraphListPage {
  padding: 100px 320px;
  display: flex;
  flex-direction: column;
}
#PharagraphListPage > ul {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}
#PharagraphListPage > ul > li {
  width: calc((100% - 40px) / 3);
  aspect-ratio: 1;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
#PharagraphListPage > ul > li.noresult {
  padding: 20px;
}
#PharagraphListPage > ul > li .top {
  padding: 0 20px;
  height: 80px;
  background-color: #222;
  gap: 10px;
  display: flex;
  align-items: center;
}
#PharagraphListPage > ul > li .top > img {
  border-radius: 50%;
}
#PharagraphListPage > ul > li .top > div {
  position: relative;
  width: 100%;
  gap: 4px;
  display: flex;
  flex-direction: column;
}
#PharagraphListPage > ul > li .top > div > p.nickname {
  position: relative;
  display: flex;
  align-items: center;
}
#PharagraphListPage > ul > li .top > div > p.MBTI {
  padding: 2px 4px;
  width: fit-content;
  color: #000;
  font-weight: 600;
  font-size: 12px;
  border-radius: 4px;
  background-color: #fff;
}
#PharagraphListPage > ul > li .top > div > p .dots {
  margin-left: auto;
  width: 20px;
  aspect-ratio: 1;
  color: #fff;
}
#PharagraphListPage > ul > li .top > div .menu {
  position: absolute;
  right: 0;
  top: -120%;
  transform: translate();
  padding: 1px;
  gap: 1px;
  display: flex;
  background-color: #000;
}
#PharagraphListPage > ul > li .top > div .menu a, #PharagraphListPage > ul > li .top > div .menu button {
  padding: 10px;
  width: fit-content;
  color: #000;
  border: 1px solid #fff;
  background-color: #fff;
}
#PharagraphListPage > ul > li .top > div .menu a:hover, #PharagraphListPage > ul > li .top > div .menu button:hover {
  border: 1px solid #000;
}
#PharagraphListPage > ul > li .mid {
  flex-grow: 1;
  position: relative;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#PharagraphListPage > ul > li .mid > span {
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
  width: 100%;
  gap: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
#PharagraphListPage > ul > li .mid > span p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#PharagraphListPage > ul > li .mid p.page {
  font-size: 14px;
}
#PharagraphListPage > ul > li .mid p.book {
  font-size: 14px;
}
#PharagraphListPage > ul > li .mid p.content {
  line-height: 26px;
  white-space: pre-wrap;
}
#PharagraphListPage > ul > li .bot {
  position: relative;
  padding: 20px;
  height: 80px;
  background-color: #222;
  gap: 14px;
  display: flex;
  align-items: center;
}
#PharagraphListPage > ul > li .bot > p.music {
  margin-right: auto;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#PharagraphListPage > ul > li .bot > a, #PharagraphListPage > ul > li .bot button {
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
}
#PharagraphListPage > ul > li .bot > audio {
  margin-right: auto;
}

@media screen and (max-width: 1280px) {
  #PharagraphListPage ul li {
    width: calc((100% - 40px) / 2);
  }
}
#PharagraphLoginPage {
  padding-top: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#PharagraphLoginPage > h1.Title {
  justify-content: center;
}
#PharagraphLoginPage > form {
  margin: 20px auto 0;
  gap: 12px;
  display: flex;
  flex-direction: column;
}
#PharagraphLoginPage > form > input, #PharagraphLoginPage > form button {
  padding-left: 10px;
  width: 280px;
  height: 40px;
  min-height: 40px;
  border-radius: 2px;
}
#PharagraphLoginPage > form > input {
  width: 280px;
  border: 1px solid #555;
}
#PharagraphLoginPage > form > input:focus {
  border: 1px solid #fff;
}
#PharagraphLoginPage > form > input::placeholder {
  color: #bbb;
  font-size: 14px;
}
#PharagraphLoginPage > form > button {
  color: #000;
  background-color: #fff;
}
#PharagraphLoginPage > form > button:focus {
  border: 1px solid #fff;
  background-color: cornflowerblue;
}
#PharagraphLoginPage > a {
  margin: 12px auto 0;
  width: 280px;
  height: 40px;
  min-height: 40px;
  border-radius: 2px;
  display: grid;
  place-items: center;
}
#PharagraphLoginPage > a:hover {
  color: #000;
  background-color: #fff;
}
#PharagraphLoginPage > a:focus {
  border: 1px solid #fff;
  outline: none;
  background-color: cornflowerblue;
}

#PharagraphMyPage {
  padding: 100px 320px;
  display: flex;
  flex-direction: column;
}

#PharagraphPostingPage,
#PharagraphEditingPage {
  padding: 80px 320px;
  display: flex;
  flex-direction: column;
}
#PharagraphPostingPage > form,
#PharagraphEditingPage > form {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
#PharagraphPostingPage > form input, #PharagraphPostingPage > form textarea,
#PharagraphEditingPage > form input,
#PharagraphEditingPage > form textarea {
  font-size: 22px;
  line-height: 34px;
  font-family: inherit;
}
#PharagraphPostingPage > form input::placeholder, #PharagraphPostingPage > form textarea::placeholder,
#PharagraphEditingPage > form input::placeholder,
#PharagraphEditingPage > form textarea::placeholder {
  color: #bbb;
}
#PharagraphPostingPage > form input:focus, #PharagraphPostingPage > form textarea:focus,
#PharagraphEditingPage > form input:focus,
#PharagraphEditingPage > form textarea:focus {
  padding-left: 20px;
  border: 1px solid #fff;
}
#PharagraphPostingPage > form input:not(:placeholder-shown), #PharagraphPostingPage > form textarea:not(:placeholder-shown),
#PharagraphEditingPage > form input:not(:placeholder-shown),
#PharagraphEditingPage > form textarea:not(:placeholder-shown) {
  padding-left: 20px;
}
#PharagraphPostingPage > form input,
#PharagraphEditingPage > form input {
  height: 80px;
}
#PharagraphPostingPage > form textarea,
#PharagraphEditingPage > form textarea {
  padding-top: 20px;
  height: 300px;
  resize: none;
  white-space: pre-wrap;
}
#PharagraphPostingPage > form .wrap_page,
#PharagraphEditingPage > form .wrap_page {
  position: relative;
  display: flex;
  align-items: center;
}
#PharagraphPostingPage > form .wrap_page > input,
#PharagraphEditingPage > form .wrap_page > input {
  flex: 1;
}
#PharagraphPostingPage > form .wrap_page > button,
#PharagraphEditingPage > form .wrap_page > button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  width: 100px;
  height: calc(100% - 20px);
  border: 1px solid #000;
}
#PharagraphPostingPage > form .wrap_page > button.onfocus,
#PharagraphEditingPage > form .wrap_page > button.onfocus {
  background-color: #fff;
}
#PharagraphPostingPage > form .wrap_MBTI,
#PharagraphEditingPage > form .wrap_MBTI {
  height: 80px;
  display: flex;
}
#PharagraphPostingPage > form .wrap_MBTI span,
#PharagraphEditingPage > form .wrap_MBTI span {
  position: relative;
  padding: 1px;
  gap: 1px;
  display: flex;
  background-color: #fff;
}
#PharagraphPostingPage > form .wrap_MBTI span button,
#PharagraphEditingPage > form .wrap_MBTI span button {
  height: 100%;
  aspect-ratio: 1;
  color: #fff;
  font-size: 22px;
  background-color: #000;
  display: grid;
  place-items: center;
}
#PharagraphPostingPage > form .wrap_MBTI span button.clicked,
#PharagraphEditingPage > form .wrap_MBTI span button.clicked {
  color: #000;
  background-color: #fff;
}
#PharagraphPostingPage > form .wrap_MBTI span:not(:nth-child(1)),
#PharagraphEditingPage > form .wrap_MBTI span:not(:nth-child(1)) {
  margin-left: -1px;
}
#PharagraphPostingPage > form .wrap_button,
#PharagraphEditingPage > form .wrap_button {
  margin-left: auto;
  padding: 1px;
  width: fit-content;
  height: 60px;
  background-color: #000;
  gap: 1px;
  display: flex;
}
#PharagraphPostingPage > form .wrap_button button,
#PharagraphEditingPage > form .wrap_button button {
  width: 100px;
  height: 100%;
  font-size: 24px;
  border: 1px solid #fff;
  background-color: #fff;
}
#PharagraphPostingPage > form .wrap_button button:hover,
#PharagraphEditingPage > form .wrap_button button:hover {
  border: 1px solid #000;
}

#PharagraphReplyPage {
  height: calc(100vh - 30px - 40px - 110px - 50px);
  gap: 20px;
  display: flex;
  flex-direction: column;
}
#PharagraphReplyPage .card, #PharagraphReplyPage .cont_reply {
  margin: 0 auto;
  width: 480px;
}
#PharagraphReplyPage > .card {
  aspect-ratio: 1;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#PharagraphReplyPage > .card .top {
  padding: 0 20px;
  height: 80px;
  background-color: #222;
  gap: 10px;
  display: flex;
  align-items: center;
}
#PharagraphReplyPage > .card .top > img {
  border-radius: 50%;
}
#PharagraphReplyPage > .card .top > div {
  position: relative;
  width: 100%;
  gap: 4px;
  display: flex;
  flex-direction: column;
}
#PharagraphReplyPage > .card .top > div > p.nickname {
  position: relative;
  display: flex;
  align-items: center;
}
#PharagraphReplyPage > .card .top > div > p.MBTI {
  padding: 2px 4px;
  width: fit-content;
  color: #000;
  font-weight: 600;
  font-size: 12px;
  border-radius: 4px;
  background-color: #fff;
}
#PharagraphReplyPage > .card .mid {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#PharagraphReplyPage > .card .mid > span {
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
  width: 100%;
  gap: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
#PharagraphReplyPage > .card .mid > span p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#PharagraphReplyPage > .card .mid p.page {
  font-size: 14px;
}
#PharagraphReplyPage > .card .mid p.book {
  font-size: 14px;
}
#PharagraphReplyPage > .card .mid p.content {
  line-height: 26px;
  white-space: pre-wrap;
}
#PharagraphReplyPage > .card .bot {
  position: relative;
  padding: 20px;
  height: 80px;
  background-color: #222;
  gap: 14px;
  display: flex;
  align-items: center;
}
#PharagraphReplyPage > .card .bot > p.music {
  margin-right: auto;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#PharagraphReplyPage > .card .bot > a, #PharagraphReplyPage > .card .bot button {
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
}
#PharagraphReplyPage > .card .bot > audio {
  margin-right: auto;
}
#PharagraphReplyPage > .cont_reply {
  flex-grow: 1;
  border-radius: 4px;
  gap: 40px;
  display: flex;
  flex-direction: column;
}
#PharagraphReplyPage > .cont_reply > ul {
  display: flex;
  flex-direction: column;
}
#PharagraphReplyPage > .cont_reply > ul h4 {
  padding: 10px;
  border-radius: 4px;
  background-color: #222;
}
#PharagraphReplyPage > .cont_reply > ul li {
  padding: 20px;
  border-radius: 2px;
  gap: 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
#PharagraphReplyPage > .cont_reply > ul li img {
  border-radius: 50%;
}
#PharagraphReplyPage > .cont_reply > ul li > div {
  width: 100%;
  gap: 4px;
  display: flex;
  flex-direction: column;
}
#PharagraphReplyPage > .cont_reply > ul li > div p {
  color: #fff;
  font-size: 14px;
}
#PharagraphReplyPage > .cont_reply > form {
  margin-top: auto;
  position: relative;
  padding: 10px;
  border-radius: 2px;
  gap: 4px;
  display: flex;
  overflow: hidden;
}
#PharagraphReplyPage > .cont_reply > form > textarea {
  flex: 9;
  padding: 10px 10px 10px 0;
  width: 100%;
  height: fit-content;
  font-size: 14px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  white-space: pre-wrap;
}
#PharagraphReplyPage > .cont_reply > form > textarea:focus {
  padding-left: 10px;
  border: 1px solid #fff;
}
#PharagraphReplyPage > .cont_reply > form > button {
  flex: 1;
  padding: 10px;
  width: 60px;
  height: 100%;
  color: #000;
  border-radius: 2px;
  background-color: #fff;
}
#PharagraphReplyPage > .cont_reply > form > button:focus, #PharagraphReplyPage > .cont_reply > form > button:hover {
  padding-left: 10px;
  border: 1px solid #fff;
  background-color: cornflowerblue;
}

#PharagraphSignupPage {
  padding: 100px 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#PharagraphSignupPage h1.Title {
  justify-content: center;
}
#PharagraphSignupPage form {
  margin: 20px auto 0;
  gap: 16px;
  width: fit-content;
  display: flex;
  flex-direction: column;
}
#PharagraphSignupPage form input, #PharagraphSignupPage form button {
  height: 40px;
  min-height: 40px;
  font-size: 14px;
  border-radius: 2px;
}
#PharagraphSignupPage form > div {
  width: 100%;
  display: flex;
  align-items: center;
}
#PharagraphSignupPage form > div > label {
  width: 100px;
  color: #fff;
  font-size: 14px;
  gap: 4px;
  display: flex;
  align-items: center;
}
#PharagraphSignupPage form > div > label span {
  color: red;
}
#PharagraphSignupPage form > div > input {
  flex-grow: 1;
  padding-left: 10px;
  margin-left: auto;
  border: 1px solid #555;
}
#PharagraphSignupPage form > div > input.small {
  width: 140px;
}
#PharagraphSignupPage form > div > input::placeholder {
  color: #bbb;
  font-size: 14px;
}
#PharagraphSignupPage form > div > input:focus {
  border: 1px solid #fff;
}
#PharagraphSignupPage form > div > button.duplicationCheck {
  padding: 10px;
  margin-left: 10px;
  background-color: #fff;
}
#PharagraphSignupPage form > div > button.duplicationCheck:focus {
  border: 1px solid #fff;
  outline: none;
  background-color: cornflowerblue;
}
#PharagraphSignupPage form > div > p {
  font-size: 12px;
}
#PharagraphSignupPage form > div > p span {
  font-size: 12px;
}
#PharagraphSignupPage form > div .wrap_MBTI span:not(:nth-child(1)) {
  margin-left: -1px;
}
#PharagraphSignupPage form > div .wrap_MBTI button {
  aspect-ratio: 1;
  color: #fff;
  border: 1px solid #fff;
}
#PharagraphSignupPage form > div .wrap_MBTI button.clicked {
  color: #000;
  background-color: #fff;
}
#PharagraphSignupPage form > div .wrap_MBTI button:not(:nth-child(1)) {
  margin-left: -1px;
}
#PharagraphSignupPage form > button {
  color: #000;
  background-color: #fff;
}
#PharagraphSignupPage form > button:focus {
  border: 1px solid #fff;
  outline: none;
  background-color: cornflowerblue;
}

#PlayList .Container {
  padding: 100px 320px;
  position: relative;
  width: 100%;
  background-color: #000;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: scroll;
}
#PlayList .Container .VinylChip {
  width: calc((100% - 40px) / 3);
  aspect-ratio: 3/4;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
#PlayList .Container .VinylChip .top {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  cursor: pointer;
}
#PlayList .Container .VinylChip .top > .hole {
  z-index: 998;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 15.6%;
  aspect-ratio: 1;
  background-color: #fff;
  opacity: 0;
  border-radius: 50%;
}
#PlayList .Container .VinylChip .top > .hole.playing {
  opacity: 1;
}
#PlayList .Container .VinylChip .top > img {
  width: 100%;
}
#PlayList .Container .VinylChip .top > img.playing {
  width: 95%;
  border-radius: 50%;
  animation: rotating 10s linear infinite;
}
#PlayList .Container .VinylChip .bot {
  flex-grow: 1;
  gap: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#PlayList .Container .VinylChip .bot p {
  padding: 0 20px;
  width: 100%;
  color: #000;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#PlayList .Container .VinylChip .bot p:nth-child(1) {
  font-size: 18px;
}
#PlayList .Container .VinylChip .bot p:nth-child(2) {
  font-size: 14px;
}

@media screen and (max-width: 1280px) {
  #PlayList .Container {
    padding: 100px;
  }
}
@media screen and (max-width: 768px) {
  #PlayList .Container {
    padding: 100px;
  }
  #PlayList .Container .VinylChip {
    width: calc((100% - 40px) / 2);
    aspect-ratio: 3/4;
  }
  #PlayList .Container .VinylChip .bot p:nth-child(1) {
    font-size: 1rem;
  }
  #PlayList .Container .VinylChip .bot p:nth-child(2) {
    font-size: 0.75rem;
  }
}
@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#Stack .Container {
  padding: 40px 320px;
  width: 100%;
  height: 100%;
  gap: 40px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
}
#Stack .Container > h2 {
  text-align: center;
}

@media screen and (max-width: 1280px) {
  #Stack .Container {
    padding: 40px 100px;
  }
}
.StackCard {
  position: relative;
  padding: 40px;
  width: calc((100% - 40px) / 3);
  gap: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.StackCard > img {
  margin: 0 auto;
  width: 150px;
  aspect-ratio: 1;
}
.StackCard .chips {
  gap: 10px;
  display: flex;
}
.StackCard .description {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.StackCard .description ul {
  gap: 6px;
  display: flex;
  flex-direction: column;
}
.StackCard .description ul li {
  display: flex;
}

.ChipFamiliar,
.ChipLearning,
.ChipDone,
.ChipFramework,
.ChipLibrary,
.ChipCoWorking,
.ChipTool,
.ChipETC {
  padding: 5px 10px;
  width: fit-content;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

#StackContainer {
  width: 100%;
  height: fit-content;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

#StackFilters {
  width: 100%;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#StackFilters button {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
#StackFilters button:hover {
  color: #fff;
  background-color: #000;
}

/*# sourceMappingURL=Compiliing.css.map */
