#PharagraphBookSearch,
#PharagraphMusicSearch {
	z-index: 999;
	position: absolute;
	left: 0; top: 70px;
	padding: 100px 320px;
	width: 100vw; height: calc(100vh - 30px - 40px - 50px);
	backdrop-filter: blur(10px);
	gap: 20px;
	display: flex;
	
	> ul {
		flex: 4;
		gap: 20px;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		overflow-y: scroll;

		&::-webkit-scrollbar {
    	width: 0%; height: 2px;
		}

		&::-webkit-scrollbar-thumb {
    	background-color: #000
		}

		&.noresult {
			padding: 0;
		}

		li {
			padding: 20px;
			gap: 20px;
			display: flex;
			border: 1px solid #ddd;

			&:hover {
				border: 1px solid #000;
				cursor: pointer;
			}

			&.noresult {
				// flex-grow: 1;
				font-size: 18px;
				border: 1px solid #000;
				display: grid;
				place-items: center;
				cursor: default;
			}

			> img, div:nth-child(1) {
				width: 80px;
			}

			> div {
				gap: 8px;
				display: flex;
				flex-direction: column;

				&.title {
					font-size: 18px;
					font-weight: 600;
				}
				
				&.infos {
					color: #999;
				}
			}
		}
	}

	> form {
		height: 100%;
		gap: 20px;
		display: flex;
		flex-direction: column;
		align-content: space-between;
		// justify-content: space-between;
		overflow: hidden;

		.wrap_input {
			padding: 1px;
			gap: 1px;
			display: flex;
			background-color: #000;

			> input {
				flex: 8;
				padding-left: 20px;
				height: 60px;
				color: #000;
				font-size: 22px;
				font-family: inherit;
				line-height: 34px;
				background-color: #fff;

				&::placeholder {
					color: #bbb;
				}

				&:focus { border: 1px solid #fff }

				&:not(:placeholder-shown) {
					padding-left: 20px;
				}
			}

			> select {
				padding-left: 10px;
				width: 120px;
				color: #aaa;
				font-size: 22px;
				border: 1px solid #bbb;
				border: none;
				outline: none;
				-webkit-appearance:none;
				-moz-appearance:none; 
				-o-appearance:none; 
				appearance:none; 

				&:focus {
					border: 1px solid #000;
				}

				option {
					font-size: 18px;
				}
			}
		}

		.wrap_button{
			margin-left: auto;
			padding: 1px;
			width: fit-content; height: 60px;
			background-color: #000;
			gap: 1px;
			display: flex;

			button {
				width: 100px; height: 100%;
				font-size: 24px;
				border: 1px solid #fff;
				background-color: #fff;

				&:hover {
					border: 1px solid #000;
				}
			}
		}
	}
}

@media screen and (max-width: 1280px) {
	#PharagraphBookSearch,
	#PharagraphMusicSearch {
		display: flex;
		flex-direction: column;

		> ul {
			flex: 1;
			height: fit-content;

			&.noresult {
				flex: none;
			}
		}

		> form {
			height: fit-content;
		}
	}
}