#PharagraphMBTISearch {
	z-index: 999;
	position: absolute;
	left: 0; top: 70px;
	padding: 100px 320px;
	width: 100vw; height: calc(100vh - 30px - 40px - 50px);
	backdrop-filter: blur(10px);
	display: grid;
	place-items: center;


	> div {
		width: 50%; aspect-ratio: 1;
		display: flex;
		flex-wrap: wrap;

		> div {
			position: relative;
			width: 50%; aspect-ratio: 1;
			display: flex;
			flex-wrap: wrap;

			button {
				// position: absolute;
				position: relative;
				width: calc(100% / 2); aspect-ratio: 1;
				background-color: #fff;				
				cursor: pointer;
		
				&:hover {
					border: 1px solid #000;
				}

				&.ESFJ {background: url(../../../../public/img/mbti/ESFJ.png) center/auto 80% no-repeat, #fff;}
				&.ESTJ {background: url(../../../../public/img/mbti/ESTJ.png) center/auto 80% no-repeat, #fff;}
				&.ISTJ {background: url(../../../../public/img/mbti/ISTJ.png) center/auto 80% no-repeat, #fff;}
				&.ISFJ {background: url(../../../../public/img/mbti/ISFJ.png) center/auto 80% no-repeat, #fff;}
				
				&.ENFJ {background: url(../../../../public/img/mbti/ENFJ.png) center/auto 80% no-repeat, #fff;}
				&.ENFP {background: url(../../../../public/img/mbti/ENFP.png) center/auto 80% no-repeat, #fff;}
				&.INFJ {background: url(../../../../public/img/mbti/INFJ.png) center/auto 80% no-repeat, #fff;}
				&.INFP {background: url(../../../../public/img/mbti/INFP.png) center/auto 80% no-repeat, #fff;}
				
				&.ESTP {background: url(../../../../public/img/mbti/ESTP.png) center/auto 80% no-repeat, #fff;}
				&.ESFP {background: url(../../../../public/img/mbti/ESFP.png) center/auto 80% no-repeat, #fff;}
				&.ISTP {background: url(../../../../public/img/mbti/ISTP.png) center/auto 80% no-repeat, #fff;}
				&.ISFP {background: url(../../../../public/img/mbti/ISFP.png) center/auto 80% no-repeat, #fff;}
				
				&.ENTP {background: url(../../../../public/img/mbti/ENTP.png) center/auto 80% no-repeat, #fff;}
				&.ENTJ {background: url(../../../../public/img/mbti/ENTJ.png) center/auto 80% no-repeat, #fff;}
				&.INTJ {background: url(../../../../public/img/mbti/INTJ.png) center/auto 80% no-repeat, #fff;}
				&.INTP {background: url(../../../../public/img/mbti/INTP.png) center/auto 80% no-repeat, #fff;}
			}
		}

	}
}


@media screen and (max-width: 1280px) {
	#PharagraphMBTISearch {
		padding: 0px;
	}
}