#PharagraphMBTISearch {
	position: absolute;
	left: 0; top: 70px;
	padding: 100px 320px;
	width: 100vw; height: calc(100vh - 30px - 40px - 50px);
	backdrop-filter: blur(10px);
	display: grid;
	place-items: center;


	div {
		width: 50%; aspect-ratio: 1;
		display: flex;
		flex-wrap: wrap;

		button {
			position: relative;
			width: calc(100% / 4); aspect-ratio: 1;
			border: 1px solid #000;
			cursor: pointer;
	
			&:hover {
				border: 1px solid #000;
			}

			&.ESTJ {background: url(../../../../public/img/mbti/ESTJ.png) center/auto 80% no-repeat;};
			&.ESFJ {background: url(../../../../public/img/mbti/ESFJ.png) center/auto 80% no-repeat;};
			&.ENTJ {background: url(../../../../public/img/mbti/ENTJ.png) center/auto 80% no-repeat;};
			&.ENFJ {background: url(../../../../public/img/mbti/ENFJ.png) center/auto 80% no-repeat;};
			&.ESTP {background: url(../../../../public/img/mbti/ESTP.png) center/auto 80% no-repeat;};
			&.ESFP {background: url(../../../../public/img/mbti/ESFP.png) center/auto 80% no-repeat;};
			&.ENTP {background: url(../../../../public/img/mbti/ENTP.png) center/auto 80% no-repeat;};
			&.ENFP {background: url(../../../../public/img/mbti/ENFP.png) center/auto 80% no-repeat;};
			&.ISTJ {background: url(../../../../public/img/mbti/ISTJ.png) center/auto 80% no-repeat;};
			&.ISFJ {background: url(../../../../public/img/mbti/ISFJ.png) center/auto 80% no-repeat;};
			&.INTJ {background: url(../../../../public/img/mbti/INTJ.png) center/auto 80% no-repeat;};
			&.INFJ {background: url(../../../../public/img/mbti/INFJ.png) center/auto 80% no-repeat;};
			&.ISTP {background: url(../../../../public/img/mbti/ISTP.png) center/auto 80% no-repeat;};
			&.ISFP {background: url(../../../../public/img/mbti/ISFP.png) center/auto 80% no-repeat;};
			&.INTP {background: url(../../../../public/img/mbti/INTP.png) center/auto 80% no-repeat;};
			&.INFP {background: url(../../../../public/img/mbti/INFP.png) center/auto 80% no-repeat;};
	
			img {
				position: absolute;
				left: 50%; top: 50%;
				transform: translate(-50%, -50%);
				width: 70%;
			}
		}
	}
}


@media screen and (max-width: 1280px) {
	#PharagraphMBTISearch {
		padding: 0px;
	}
}