#PharagraphMBTISearch {
	position: absolute;
	left: 0; top: 70px;
	padding: 100px 320px;
	width: 100vw; height: calc(100vh - 30px - 40px - 50px);
	backdrop-filter: blur(10px);
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;

	button {
		position: relative;
		width: 200px; aspect-ratio: 1;
		border: 1px solid #000;
		cursor: pointer;

		&:hover {
			border: 1px solid #000;
		}

		img {
			position: absolute;
			left: 50%; top: 50%;
			transform: translate(-50%, -50%);
			width: 70%;
		}
	}
}

@media screen and (max-width: 1280px) {
  #PharagraphMBTISearch {
		padding: 320px;
  }
}