.StackCard {
  position: relative;
  padding: 40px;
  width: calc((100% - 40px) / 3);
  gap: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  > img {
    margin: 0 auto;
    width: 150px; aspect-ratio: 1;
  }

  .chips {
    gap: 10px;
    display: flex;
  }

  .description {
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;

    ul {
      gap: 6px;
      display: flex;
      flex-direction: column;

      li {
        display: flex;
      }
    }
  }
}