#AddictAllProduct {
  width: 100%; height: fit-content;
  /* border: 1px solid red; */
  background-color: #fff;
  gap: 40px;
  display: flex;
  flex-direction: column;
  /* display: none; */

  > div:nth-child(1) {
    z-index: 1;
    position: sticky;
    top: calc(80px + 80px);
    text-align: center;
    background-color: #fff;

    button {
      margin: 0 4px;
      padding: 8px 16px;
      font-size: 15px;
      border-radius: 50px;
      background-color: #fff;
      border: 1px solid #000;
      
      &:hover {
        filter: invert(1);
      }
    }
  } 
}

#AddictAllProduct > div:nth-child(2),
#AddictBestProduct,
#AddictLiquidProduct,
#AddictSolidProduct,
#AddictGiftProduct {
  width: 100%;
  /* border: 1px solid #000; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}