#AddictSlider {
  position: relative;
  width: 100%; height: 1000px;
  // border: 1px solid #000;
  overflow: hidden;

  .slider {
    position: absolute;
    left: 0; top: 0;
    width: 300%; height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .slide {
    position: relative;
    width: 100%; height: 100%;
    // border: 1px solid #000;
    overflow: hidden;

    img {
      position: absolute;
      left: 50%; top: 50%;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  .wrap_button {
    position: absolute;
    top: 50%;
    padding: 0 40px;
    transform: translate(0, -50%);
    width: 100%;
    display: flex;
    justify-content: space-between;

    button {
      width: 40px;
      aspect-ratio: 1;
      border-radius: 50%;

      &:hover {
        cursor: pointer;
      }
      
      &.Left {
        background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22currentColor%22%20class%3D%22bi%20bi-chevron-left%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M11.354%201.646a.5.5%200%200%201%200%20.708L5.707%208l5.647%205.646a.5.5%200%200%201-.708.708l-6-6a.5.5%200%200%201%200-.708l6-6a.5.5%200%200%201%20.708%200%22%2F%3E%3C%2Fsvg%3E') calc(50% - 1px)/cover no-repeat;
      }
    
      &.Right {
        background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22currentColor%22%20class%3D%22bi%20bi-chevron-right%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M4.646%201.646a.5.5%200%200%201%20.708%200l6%206a.5.5%200%200%201%200%20.708l-6%206a.5.5%200%200%201-.708-.708L10.293%208%204.646%202.354a.5.5%200%200%201%200-.708%22%2F%3E%3C%2Fsvg%3E') calc(50% + 2px)/cover no-repeat;
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  #Folder .Container {
    width: 90vw;
  }
}