#AddictProductTypeFilters {
  z-index: 2;
  position: sticky;
  top: 80px;
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    padding: 0 20px;
    height: 100%;
    font-size: 18px;
    display: grid;
    place-items: center;
    cursor: pointer;

    &.active {
      font-weight: 600;
    }
  }
}